{{#if events}}
<table class="table table-striped table-bordered table-hover">
<thead><tr><th>Event</th><th>Date</th><th>Location</th><th>Organizer</th><th style="min-width: 10em;">Links</th></tr></thead>
<tbody>
{{#each events}}
{{#unless dummy}}
<tr>
	<td>{{#if website}}<a href="{{website}}">{{name}}</a>{{else}}{{name}}{{/if}}</td>
	<td class="nowrap">{{dateinterval start end}}</td>
	<td>{{location}}</td>
	<td>{{organizer}}</td>
	<td><ul class="list-unstyled">
		{{#if event_id}}
			{{#if complete}}
				<li><a href="/events/{{slug}}/results">PQE Results</a></li>
			{{else}}
				{{#if ../identity}}
					<li><a href="/events/{{slug}}/upload"><span class="glyphicon glyphicon-upload"></span> Upload PQE Results</a></li>
				{{/if}}
			{{/if}}
		{{else}}
			{{#if ../identity}}
				<li><a href="/events/{{slug}}/upload"><span class="glyphicon glyphicon-upload"></span> Upload PQE Results</a></li>
			{{/if}}
		{{/if}}
		{{#if results}}
			<li><a href="{{results}}">Original results</a></li>
		{{/if}}
		{{#each links}}
			<li><a href="{{url}}">{{./title}}</a></li>
		{{/each}}
	</ul></td>
</tr>
{{/unless}}
{{/each}}
</tbody>
</table>
{{/if}}
