<table class="table table-striped table-bordered table-hover table-condensed">
<thead class="header"><tr><th>Place</th><th>Members</th><th>Score</th><th>Time</th></tr></thead>
<tbody>
{{#teams}}
<tr><td>{{index @index}}</td><td>{{#each members}}{{lastname}} {{firstname}} ({{country_code}}){{#unless @last}}<br>{{/unless}}{{/each}}</td><td>{{score}}</td><td>{{time time}}</td></tr>
{{/teams}}
</tbody>
</table>
