<!doctype html>
<html>
<head>
<title>{{block 'title'}}</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<link rel="stylesheet" type="text/css" href="/node_modules/bootstrap/dist/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="/node_modules/bootstrap/dist/css/bootstrap-theme.min.css">
<link rel="stylesheet" href="/css/screen.css">
<link rel="shortcut icon" type="image/png" href="/irf-logo.png">
</head>
<body>
<div class="container">
	<header>
		<div class="irf-link"><img src="/irf-logo.png" alt="" width="50" height="50"><span>(<a href="http://www.rogaining.org">back to IRF</a>)</span></div>
		<h1><a href="/">WRC Agenda</a></h1>
	</header>
	{{#each messages}}{{#each this}}<p class="alert alert-{{@../key}}">{{this}}</p>{{/each}}{{/each}}

	{{{body}}}

	{{#if identity}}
	<div class="user-panel"><a href="/events/add" title="Add an event" class="btn btn-link"><span class="glyphicon glyphicon-file text-muted"></span></a><a href="/logout" title="Log out" class="btn btn-link"><span class="glyphicon glyphicon-user text-danger"></span></a></div>
	{{else}}
	<div class="user-panel"><a href="/login" title="Log in" class="btn btn-link"><span class="glyphicon glyphicon-user text-muted"></span></a></div>
	{{/if}}
</div>
{{{block 'bottom'}}}
</body>
</html>
