<!doctype html>
<html>
<head>
<title>{{block 'title'}}</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" type="text/css" href="/css/bootstrap.css">
<style>
.container {
	margin-top: 2em;
}
.user-panel {
	position: fixed;
	top: 0;
	right: 0;
}
header img {
	position: absolute;
	left: -70px;
}
header h1 {
	position: relative;
}
.news dt {
	width: 100px;
}
.news dd {
	 margin-left: 120px;
}
.nowrap {
	white-space: nowrap;
}
</style>
</head>
<body>
<div class="container">
	<header>
		<h1><img src="/irf-logo.png" alt="" width="50" height="50">WRC Agenda</h1>
	</header>
	{{#if message}}
	<p class="alert alert-error">{{message}}</p>
	{{/if}}
	{{{body}}}

	{{#if identity}}
	<div class="user-panel"><a href="/logout" title="Log out" class="btn btn-small btn-danger"><span class="glyphicon glyphicon-user"></span></a></div>
	{{else}}
	<div class="user-panel"><a href="/login" title="Log in" class="btn btn-small btn-primary"><span class="glyphicon glyphicon-user"></span></a></div>
	{{/if}}
</div>
{{block 'bottom'}}
</body>
</html>
