<h1>{{setTitle title}}</h1>
{{#if preliminary}}<p class="alert alert-info">This list is preliminary, please report any mistake to <a href="mailto:{{managerEmail}}">{{managerEmail}}</a>.</p>{{/if}}
<h2>Automatic pre-qualified entrants for WRC {{upcomingYear}}</h2>
{{#each qualified.auto}}
{{> 'qualified'}}
{{/each}}
<h2>Preferred pre-qualified entrants for WRC {{upcomingYear}}</h2>
{{#each qualified.preferred}}
{{> 'qualified'}}
{{/each}}

<p>* Provided that the person has competed in at least one 24-hour rogaine in the two years immediately preceding the opening of entries</p>

<p>Last updated on {{datetime}}</p>

{{#extend 'bottom'}}
<script src="/node_modules/jquery/dist/jquery.min.js"></script>
<script src="/node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
<script>
$(function () {
	$('[data-toggle="tooltip"]').tooltip();
});
</script>
{{/extend}}
