<h1>{{title title}}</h1>
<ul class="nav nav-tabs" id="tabs">
<li class="active"><a href="#main" data-toggle="tab">Main categories</a></li>
<li><a href="#all" data-toggle="tab">Overall results</a></li>
</ul> 
<div class="tab-content">
<div class="tab-pane active" id="main">
	<div class="row">
		<div class="col-lg-4">
			<h2>Results MO</h2>
			{{> resultlight mo}}
		</div>
		<div class="col-lg-4">
			<h2>Results XO</h2>
			{{> resultlight xo}}
		</div>
		<div class="col-lg-4">
			<h2>Results WO</h2>
			{{> resultlight wo}}
		</div>
	</div> 
</div>
<div class="tab-pane" id="all">
<h2 class="pull-left">Overall results</h2>
<div class="pull-right"><form class="form-inline sort-form" action="">{{#if durations}}<select name="duration" class="input-small" onchange="submit()">{{#durations}}<option value="{{this}}"{{#equals ../activeDuration this}} selected="selected"{{/equals}}>{{this}} hours</option>{{/durations}}</select>{{/if}}<select name="category" class="input-small" onchange="submit()"><option value=""{{#unless activeCategory}} selected="selected"{{/unless}}>all</option>{{#categories}}<option value="{{this}}"{{#equals ../activeCategory this}} selected="selected"{{/equals}}>{{this}}</option>{{/categories}}</select><noscript><button type="submit" class="btn btn-default btn-small">Filter</button></noscript></form></div>
<br class="clearfix">
{{> result}}
</div>
</div> 
{{#extend 'bottom'}}
<script src="/js/jquery.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/table-fixed-header.js"></script>
<script>
$(document).ready(function(){
	var overallShown = false;
	$('#tabs a[href=#all]').on('shown.bs.tab', function (e) {
		if(!overallShown) {
			$('.table-fixed-header').fixedHeader();
			overallShown = true;
		}
	});

	var hash = document.location.hash;
	if(hash) {
		$('#tabs a[href='+hash+']').tab('show') ;
	}

	// With HTML5 history API, we can easily prevent scrolling!
	$('#tabs a').on('shown.bs.tab', function(e) {
		if(history.pushState) {
			history.pushState(null, null, e.target.hash); 
		} else {
			document.location.hash = e.target.hash; //Polyfill for old browsers
		}
	});

});
</script>
<style>
table .header-fixed {
	position: fixed;
	top: 0;
	z-index: 1020; /* 10 less than .navbar-fixed to prevent any overlap */
	border-bottom: 1px solid #d5d5d5;
	border-radius: 0;
}
thead {
	background-color: #eaeaea;
}
.place1 {
	background: gold !important;
}
.place2 {
	background: silver !important;
}
.place3 {
	background: #ba7810 !important;
}
.sort-form {
	margin-top: 1.2em;
}
.sort-form select {
	width: auto;
}
</style>
{{/extend}}